.all {
    background-image: url("https://img.freepik.com/free-vector/abstract-black-texture-background-hexagon_206725-413.jpg?w=826&t=st=1693887304~exp=1693887904~hmac=a2f60d99f4fcb5e3d6558ad80cc5f0d3b00a99eeee7b56c1a2b5e439e09fc4a9");
    background-size: cover;
    background-repeat: no-repeat;
}

.firstPart {
    background-image: url("local.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
    height: 400px;
}

.textContainer {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titleSection {
    font-family: var(--font), sans-serif;
    color: #FCB70B;
    font-size: 40px;
    margin: 0;
    padding: 20px;
    text-align: center;
}


